<div class="ui fluid raised card">
    <div class="content">
        <div class="header"><%= @post.user.first_name %>'s post</div>
        <div class="meta">
        <div class="date"><%= time_ago_in_words(@post.created_at) + " ago" %></div>
        </div>
        <div class="description">
            <h5><%= @post.content %></h5>
        </div>
    </div>
    <div class="extra content">
        <a class="left floated like">
            <i class="like icon"></i>
            Like
        </a>
    </div>
</div>