<%= render 'shared/links', location: :photos %>
<div class="ui centered grid">
    <div class="ui twelve wide column">
        <% unless @photos.empty? %>
            <div class="ui four stackable special cards">
                <% @photos.each do |p| %>
                    <div class="ui raised card">
                        <a class="ui dimmable image" href="<%= post_path(p) %>">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="content"><%= p.description && p.description.length > 20 ? p.description[0, 20] + '...' : p.description %></div>
                                    </div>
                                </div>
                            </div>
                            <%= image_tag p.photo.url(:thumb) %>
                        </a>
                    </div>
                <% end %>
            </div>
        <% else %>
            <div class="ui raised center aligned segment">
                <i class="huge icons">
                    <i class="big red dont icon"></i>
                    <i class="camera retro icon"></i>
                </i>
                <h3>There doesn't seem to be anything here</h3>
            </div>
        <% end %>
    </div>
</div>
<script>
    $('.special.cards .image').dimmer({
        on: 'hover'
    });
</script>
