<div class="ui three column stackable grid">
    <div class="five wide column">
        <%= render 'shared/user_card' %>
    </div>
    <div class="six wide column">
        <%= render 'shared/show_post' %>
        <%= render 'shared/post_comments_and_reply' %>
    </div>
    <div class="five wide column">
        <%= render 'shared/suggested_friends' %>
    </div>
</div>