<div class="ui three column stackable grid">
    <div class="column">
        <%= render 'shared/user_card' %>
    </div>
    <div class="column">
        <%= render 'shared/show_post' %>
        Comments stub
    </div>
    <div class="column">
        <%= render 'shared/suggested_friends' %>
    </div>
</div>