<div class="ui black inverted menu" style="border-radius: 0;">
    <%= link_to 'Bad Facebook Clone', '', class: 'item' %>
    <div class="menu right">
        <%= link_to 'by Jordan Ellis-Lynch', 'https://www.github.com', class: 'item' %>
    </div>
</div>